# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# IDE specific
.vscode/


# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media folder
/media/*

# Explicitly include categories and product folders and their contents
!/media/categories/
/media/categories/*
!/media/product/
/media/product/*

# Ignore images inside categories and product folders
/media/categories/*.png
/media/categories/*.jpg
/media/categories/*.jpeg
/media/categories/*.gif
/media/categories/*.svg

/media/product/*.png
/media/product/*.jpg
/media/product/*.jpeg
/media/product/*.gif
/media/product/*.svg

# Virtual Environment
venv/
.env

# Django migrations
*/migrations/*

# IDE specific
.vscode/
.idea/
*.swp

# Local settings
*.local
